# **Lab1: R Data Structures (21 points)**

#### **WRITE YOUR NAME HERE**

 **Alberto Pulido**

---

**IMPORTANT**:
- Before starting the lab, save a copy to your google drive by navigating to `File > Save a copy in Drive` <br>
- Then rename the copied file `Lab#_LASTNAME_FIRSTNAME.ipynb` where # is the lab assignment number, LASTNAME is your last name, and FIRSTNAME is your first name.

<br>


**Instructions**: Complete the lab below.

- <font color=red>Tasks</font> indicated in red must be completed to receive credit
- Include all code for your work
- Include markdown cells with written answers explaining your work when prompted
- **NOTE: Your completed lab must be submitted to Canvas as a .ipynb file by the end of the lab session**
---

<br>

<br>

####<font color=red>Organized</font> (1 points)
* Answers should be organized in the following format for organization and readability

<br>

```
# 1.
This will be the code block to answer the first part of a task
```

1. This will be the text answer/explanation (if prompted) for the first task

<br>

```
# 2.
This will be the code block to answer the second part of a task in a separate code cell
```

2. This will be the text answer/explanation (if prompted) for the second task

<br>

Continue this format for the remaining subtasks

<br>

---

<br>



<br>

## Vectors and Matrices

####<font color=red>Task 1</font>  (1 point)

* Insert the number 5 at the end of `my_vector` in a code cell below WITHOUT using 1, 2, 3, or 4 in your code
* Print your output

Hint: Use the `c()` function.

In [1]:
# vector defined
my_vector <- c(1, 2, 3, 4)

In [2]:
# insert the number five in code below
my_vector = c(my_vector, 5)
my_vector

[1] 1 2 3 4 5



<br>

#### <font color=red>Task 2</font>  (1 point)

* Insert a row  of `c(-1, -1)` at the top of `my_matrix`
* Print your output

Hint: Use the `rbind()` function.

In [ ]:
# matrix defined
my_matrix <- matrix(c(1,2,3,4,5,6), nrow = 3, ncol = 2, byrow=TRUE)
my_matrix

     [,1] [,2]
[1,] 1    2
[2,] 3    4
[3,] 5    6

In [ ]:
my_matrix = rbind (c(-1,-1),my_matrix)
my_matrix

     [,1] [,2]
[1,] -1   -1
[2,]  1    2
[3,]  3    4
[4,]  5    6



<br>

#### <font color=red>Task 3</font>  (1 point)
* Print the length of `my_vector`

In [ ]:
# vector defined
my_vector <- c(1,3,5,3,2,5,6,7,8,9,3,1,2,4,3,6,8,9,0,4,3,5,3,2,3,5,6,4,1,1,2,3)

In [ ]:
# find length of vector
length(my_vector)

[1] 32



<br>

#### <font color=red>Task 4</font> (1 point)
* Multiply `matrix1` by `matrix2` below using scalar multiplication (use the `*` symbol)
* Print the result

In [ ]:
# matrices defined
matrix1 <- matrix(1:9, nrow=3)
matrix2 <- matrix(2:10, nrow=3)
matrix1
matrix2

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

     [,1] [,2] [,3]
[1,] 2    5     8
[2,] 3    6     9
[3,] 4    7    10

In [ ]:
# multiply matrices
matrix1 * matrix2

     [,1] [,2] [,3]
[1,]  2   20   56
[2,]  6   30   72
[3,] 12   42   90



<br>

#### <font color=red>Task 5</font> (1 point)
* Multiply `matrix1` by `matrix2` below using matrix multiplication (use the `%*%` symbol)
* Print the result

In [ ]:
# matrices defined
matrix1 <- matrix(1:9, nrow=3)
matrix2 <- matrix(2:10, nrow=3)
matrix1
matrix2

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

     [,1] [,2] [,3]
[1,] 2    5     8
[2,] 3    6     9
[3,] 4    7    10

In [ ]:
# matrix multiplication
newmatrix = matrix1%*%matrix2
newmatrix

     [,1] [,2] [,3]
[1,] 42    78  114
[2,] 51    96  141
[3,] 60   114  168



<br>

## Collecting Data

#### <font color=red>Task 6</font> (4 points)

* Collect data from your other group members
 * Name
 * Number of siblings
 * Pets ("Yes" or "No")
 * Name of one pet (if no pet, then use `NA`)
* Create 4 vectors for each of the variables (use variable names that are useful!)

If members of your group would not like to provide certain information, that is okay! Simply enter `NA` in their entry

In [ ]:
name = c("Molly", "Alberto")
siblings = c(4,1)
pets = c("yes", "no")
petname = c("Leo", "Jill")
name
siblings
pets
petname

[1] "Molly"   "Alberto"

[1] 4 1

[1] "yes" "no"

[1] "Leo"  "Jill"

<br>

#### <font color=red>Task 7</font> (2 points)

* Bind the four vectors together into a dataframe and store as another variable [use `data.frame()`)]
* Summarize your dataframe using `summary()`

In [ ]:
my_data = data.frame(name,siblings, pets, petname)
my_data

  name    siblings pets petname
1 Molly   4        yes  Leo
2 Alberto 1        no   Jill

In [ ]:
summary(my_data)

     name              siblings        pets             petname
 Length:2           Min.   :1.00   Length:2           Length:2
 Class :character   1st Qu.:1.75   Class :character   Class :character
 Mode  :character   Median :2.50   Mode  :character   Mode  :character
                    Mean   :2.50
                    3rd Qu.:3.25
                    Max.   :4.00

<br>

#### <font color=red>Task 8</font> (1 point)

* Convert the Pets variable ("Yes" or "No") into a factor and store in your dataframe
* Use the `class()` function to show it is now a `factor`

In [ ]:
# converting pets varialbe yes or no into a factor
pets = factor(my_data$pets)

In [ ]:
class(pets)

[1] "factor"

<br>

#### <font color=red>Task 9</font> (1 point)

* Using your dataframe, calculate the average number of siblings in your group? (Use the `$` to call the variable from the dataframe)

In [ ]:
mean(my_data$siblings)

[1] 2.5

## Dataframes

* R offers several built-in dataframes already loaded for you to use
* For this activity we will use the `mtcars` dataset containing information on different car models

* The goal of this portion of the lab is to create a new variable for this dataframe that represents the engine displacement per cylinder in cubic inches for each vehicle
* You may not know what displacement is (or maybe even cylinders), but it will suffice to know that values in the column named `disp` divided by values in the column named `cyl` will yield the appropriate quantity



<br>

#### <font color=red>Task 10</font> (1 point)

One fundamental principle of working with data is that you should never overwrite or change your original raw data
* Copy/Store the `mtcars` dataframe into another dataframe called `mtcars_lastname` (i.e. `mtcars_lastname <- mtcars`)
 * E.g., My dataframe would be `mtcars_hasenstab`

In [3]:
mtcars_pulido = mtcars
mtcars_pulido

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2



<br>

#### <font color=red>Task 11</font> (1 point)

* View the first few lines of the dataframe using `head()`

In [ ]:
head(mtcars_pulido,3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1



<br>

#### <font color=red>Task 12</font> (1 point)

* Use R code to determine the number of rows (observations) and columns (variables) in the dataframe
* Print the result

In [ ]:
nrow(mtcars_pulido)
ncol(mtcars_pulido)

[1] 32

[1] 11



<br>

#### <font color=red>Task 13</font> (2 points)

* Calculate engine displacement per cylinder and save it as a new variable `UnitEngine` in the `mtcars_lastname` dataframe
* Note displacement per cylinder is defined by `disp` divided by `cyl`

Hint: `mtcars_lastname$UnitEngine <- ...`

In [ ]:
mtcars_pulido$unitengine = mtcars_pulido$disp / mtcars_pulido$cyl
mtcars_pulido$unitengine
mtcars_pulido = data.frame(mtcars_pulido, mtcars_pulido$unitengine)

 [1] 26.66667 26.66667 27.00000 43.00000 45.00000 37.50000 45.00000 36.67500
 [9] 35.20000 27.93333 27.93333 34.47500 34.47500 34.47500 59.00000 57.50000
[17] 55.00000 19.67500 18.92500 17.77500 30.02500 39.75000 38.00000 43.75000
[25] 50.00000 19.75000 30.07500 23.77500 43.87500 24.16667 37.62500 30.25000



<br>

#### <font color=red>Task 14</font> (1 point)

* Confirm that the `UnitEngine` variable has been added to the `mtcars_lastname` dataframe using the `summary()` function
* Show the summary

In [ ]:

summary(mtcars_pulido)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb         unitengine
 Min.   :0.0000   Min.   :3.000   Min.   :1.000   Min.   :17.77
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000   1st Qu.:26.92
 Median :0.0000   Median :4.000   Median :2.000   Median :34.48
 Mean   :0.4062   Mean   :3.688   Mean   :2.812   Mean   :35.03
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:43.19
 Max.   :1.0000   Max.   :5.000   Max.   :8.000   Max.   :59.00
 mtcars_pulido.unitengine
 Min.   :17.77
 1st Qu.:26.92
 Median :34.48
 Mean   :35.03
 3rd Qu.:43.19
 Max.   :59.00



<br>

#### <font color=red>Task 15</font> (1 point)

* Use the `mean()` function to calculate the average miles per gallon (`mpg`) of all of the cars in the dataset

In [ ]:
mean(mtcars_pulido$mpg)

[1] 20.09062